project/data/*
project/kaggle.json
.idea
.ipynb_checkpoints
.DS_Store
project/wandb
project/road-segmentation
project/__pycache__
project/models/DeepLabV3_best_model.cpkt
project/models/UNET2D_best_model.cpkt


*.pyc
